* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: rgb(184, 130, 66);
    color: #333;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #747171;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

nav a:hover {
    text-decoration: underline;
}

h1 {
    color: #fff;
    margin: 0;
}

h2 {
    color: darkgoldenrod;
    margin: 15px 20px;
}

p {
    color: rgb(184, 130, 66);
    background-color: antiquewhite;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 2px 3px 2px rgb(204, 191, 176);
    display: block;
    width: auto;
    text-align: left;
}

.card {
    width: 300px;
    border: 2px solid gray;
    margin: 25px 15px 25px 15px;
    padding: 30px;
}

nav {
    font-family: Arial, sans-serif;
    font-size: 24px;
}

section {
    font-family: Arial, sans-serif;
    font-size: 16px;
}